
{% extends 'base.html' %}
{% load static %}

{% block 'title' %}portfolio-details{% endblock 'title' %}
{% block 'content' %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/portfolio-header.jpg ' %}');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="{% url 'root:home' %}">Home</a></li>
          <li>Portfolio Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">


                {% for image in portfolio.image.all  %}
                <div class="swiper-slide">
                  <img src="{{image.image.url}}" alt="">
                </div>
                {% endfor %}



       

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
      
                <li><strong>Category</strong>: {% for cat in portfolio.category.all  %}
                  {{cat.name}}{% endfor %}</li>
                
                <li><strong>Client</strong>:{{portfolio.client}}</li>
                <li><strong>Project date</strong>: {{portfolio.project_date}}</li>
                <li><strong>Project URL</strong>: <a href="{{ portfolio.projecturl }}">{{ portfolio.projecturl }}</a></li>

              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{portfolio.title}}</h2>
              <p>
                {{portfolio.content}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock 'content' %}