{% extends 'base.html' %}
{% load static %}

{% block 'title' %}blog{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/blog-header.jpg ' %}');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Blog</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="row gy-5 posts-list">
              {% for blog in blogs %}
              <div class="col-lg-6">
                <article class="d-flex flex-column">
            
                  <!-- Display the blog post image -->
                  <div class="post-img">
                    <img src={{blog.writerimage.url}}  alt="" class="img-fluid">
                  </div>
            
                  <!-- Display the blog post title and link -->
                  <h2 class="title">
                    <a href="{% url 'blogs:blog_detail' id=blog.id %}">{{blog.title}}</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{blog.writer}}</li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2022-01-01">{{blog.created_date|date:"d M Y"}}</time></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> {{comments.count}}</li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      {{blog.snip}}
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="{% url 'blogs:blog_detail' id=blog.id %}">Read More <i class="bi bi-arrow-right"></i></a>

                  </div>

                </article>
              </div><!-- End post list item -->
               {% endfor %}
            </div><!-- End blog posts list -->
            <div class="blog-pagination">
              <ul class="justify-content-center">
                {% if blogs.has_previous %}
                  <li><a href="?page=1">&lt;&lt;</a></li>
                  <li><a href="?page={{ blogs.previous_page_number }}">Previous</a></li>
                {% endif %}
                
                {% for i in blogs.paginator.page_range %}
                  <li {% if i == blogs.number %}class="active"{% endif %}>
                    <a href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endfor %}
                
                {% if blogs.has_next %}
                  <li><a href="?page={{ blogs.next_page_number }}">Next</a></li>
                  <li><a href="?page={{ blogs.paginator.num_pages }}">&gt;&gt;</a></li>
                {% endif %}
              </ul>
            </div><!-- End blog pagination -->
            

          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="{% url 'blogs:blog_search' %}" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Categories</h3>
                <ul class="mt-3">
                    {% for category in categories %}
                        {% if category.name %}  <!-- Check if the category name is not empty -->
                            <li><a href="{% url 'blogs:blog_cat' cat=category.name %}">{{ category.name }}  <span> {{ category.blog_count }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- End sidebar categories -->
     

              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">

                      {% for blog in last_blog %}
                      <div class="post-item mt-3">
                        <img src="{{ blog.writerimage.url }}" alt="" class="flex-shrink-0">
                        <div>
                          <h4><a href="blog-post.html">{{ blog.title }}</a></h4>
                          <time datetime="2020-01-01">{{ blog.created_date|timesince:question_date }}</time>
                        </div>
                      </div><!-- End recent post item-->
    
      {% endfor %}
                    </div>
                    
                  </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  {% for tag in tags %}       
                    <li><a href="{% url 'blogs:blog_tag' tag=tag.name %}">{{tag.name}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  {% endblock 'content' %}