
{% extends 'base.html' %}
{% load static %}
{% block 'title' %}blog-details{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/blog-header.jpg ' %}');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Blog Details</h2>
        <ol>
          <li><a href="{% url 'root:home' %}">Home</a></li>
          <li>Blog Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg ' %}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{blog.title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{blog.writer.info}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{blog.created_date|date:"d M Y"}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{comments.count}} Comments</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                  {{blog.content1}}
                </p>

                <blockquote>
                  <p>
                    {{blog.quote}}
                  </p>
                </blockquote>

                <p>
                  {{blog.content2}}
                </p>
                
                <img src="{{blog.contentimage.url}}" class="img-fluid" alt="">

              
                <p>
                  {{blog.content3}}
                 </p>

              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="{{blog.writer.image.url}}" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>{{blog.writer.info.username}}</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  {{blog.writer.description}}
                </p>
              </div>
            </div><!-- End post author -->

            <div class="comments">

              <h4 class="comments-count">{{ comments.count }}  Comments</h4>
              {% for comment in comments %}
              <div id="comment-{{ comment.id }}" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{{comment.userprofile.image.url}}" alt=""></div>
                  <div>
                    <h5><a href="">{{ comment.name }}</a>
                      {% if request.user.is_authenticated %}
                      <a href="{% url 'blogs:reply' id=comment.id %}" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
                            
                      {% endif %}
                      <time datetime="{{ comment.created_date }}">{{ comment.created_date |date:"d M Y"}}</time>
                                    
                      <p>{{ comment.message }}</p>
                      {% if request.user.is_authenticated and request.user.username == comment.name %}
                      <a type='button' href={% url 'blogs:delete' id=comment.id %}>Delete</a>
                      <a type='button' href={% url 'blogs:edit' id=comment.id %}>Edit</a>
                      {% endif %}
                  </div>
                </div>
              </div><!-- End comment #1 -->
              
             <!-- Display replies to this comment -->
             {% for rp in reply %}
             {% if rp.which_comment.id == comment.id %}
             <div id="comment-reply-1" class="comment comment-reply">
                 <div class="d-flex">
                     <div class="comment-img"><img src="{{rp.userprofile.image.url}}" alt=""></div>
                     <div>
                        <div class="comment-img"><img src="assets/img/blog/comments-2.jpg" alt=""></div>
                        <h5><a href="">{{ rp.name }}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                         <time datetime="{{ rp.created_date }}">{{ rp.created_date |date:"d M Y"}}</time>
                         
                         <p>{{rp.message}}</p>
                        </div>
                      </div>
                      {% if request.user.is_authenticated and request.user.username == rp.name %}
                      <a type='button' href={% url 'blogs:delete' id=comment.id %}>Delete</a>
                      <a type='button' href={% url 'blogs:edit' id=comment.id %}>Edit</a>
                      {% endif %}
                     </div>
                 {% endif %}
             {% endfor %}
             {% endfor %}
             
               
                  
                

 {% if request.user.is_authenticated %}
              <div class="reply-form">

                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                   
                      <input type='hidden' name='which_blog' value={{ blog.id }}>
                      <input type="hidden" class="form-control" name="name" placeholder="Enter Name"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" value={{request.user.username}}>
                   
                    <div class="col-md-6 form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">

                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>
              {% endif %}
            </div><!-- End blog comments -->

          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="{% url 'blogs:blog_search' %}" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Categories</h3>
                <ul class="mt-3">
                    {% for category in categories %}
                        {% if category.name %}  <!-- Check if the category name is not empty -->
                            <li><a href="{% url 'blogs:blog_cat' cat=category.name %}">{{ category.name }}  <span> {{ category.blog_count }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- End sidebar categories -->

              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">
                  {% for blog in last_blog %}
                  <div class="post-item mt-3">
                    <img src="{{ blog.writerimage.url }}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="blog-post.html">{{ blog.title }}</a></h4>
                      <time datetime="2020-01-01">{{ blog.created_date|date:"d M Y" }}</time>
                    </div>
                  </div><!-- End recent post item-->
                  {% endfor %}

                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  {% for tag in tags %}       
                    <li><a href="{% url 'blogs:blog_tag' tag=tag.name %}">{{tag.name}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  {% endblock 'content' %}